/*universal*/
div.absolute-wrapper-inner{
    position:absolute;
}
div.absolute-wrapper-outer {
    overflow-y: scroll;/*not sure about this*/
    position:relative;
    z-index:0;
    padding:15px;
    padding-bottom:25px;
    height:624px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    background-color:#001954;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #B9B9B9;
    -moz-box-shadow: 3px 3px 4px #B9B9B9;
    -webkit-box-shadow: 3px 3px 4px #B9B9B9;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
}
label.lengend-label{
    color:#F85B07;
    font-family:"Arial", Arial, Sans-serif;
    font-weight:bold;
    display: inline;
    cursor: default;
}
span.fileupload-preview{
    color:#F85B07;
}
img.lengend-sample-picture{
    max-width: 800px;
    position:absolute;   
    z-index:-1;
}
label.color-picker-label{
    line-height: 30px;
    vertical-align: top;
}
div.color-picker {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin-left:10px;
}
div.color-picker div{
    background: url(../../resource/color-picker-images/select.png) center;
    margin-left: -3px;
    margin-top: -3px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.warning-message{
    color:#CB1000;
    font-family:"Arial", Arial, Sans-serif;
    font-weight:bold;
}
.content-input{
    width:150px;
}
div.fileupload{
    width:160px;
}
/*absolute positioning*/
#barcode_select {
    width:150px;
}
div#top_wrapper {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
}
div#select_card_wrapper {
    display:inline-block;
}
div#change_message_wrapper{
    display:inline-block;
}
input#change_message_input{
    width:410px;
}
div#logoText_wrapper {
    margin-bottom: -7px;
}
div#foreground_color_picker_wrapper {
    position:absolute;
    margin-top: 80px;
}
div#background_color_picker_wrapper {
    position:absolute;
    margin-top: 130px;
}

div#logo_wrapper {
    position:absolute;
    margin-top:41px;
}
div#headerFields_label_wrapper {
    position:absolute;   
    width:300px;
    margin-left:555px;
    margin-top:-33px;
}
div#headerFields_value_wrapper {
    position:absolute;   
    margin-left:642px;
    margin-top:43px;
}
div#strip_wrapper {
    position:absolute;
    margin-left:642px;
    margin-top:134px;
}
div#auxiliaryField0_label_wrapper {
    position:absolute;   
    margin-top:245px;
}
div#auxiliaryField0_value_wrapper {
    position:absolute;   
    margin-top:341px;
}
div#auxiliaryField1_label_wrapper {
    position:absolute;   
    margin-left:642px;
    margin-top:245px;
}
div#auxiliaryField1_value_wrapper {
    position:absolute;   
    margin-left:642px;
    margin-top:341px;
}
div#barcode_message_wrapper {
    position:absolute;   
    margin-top:435px;
}
div#barcode_format_wrapper {
    position:absolute;   
    margin-top:488px;
    width:200px;
}
div#barcode_altText_wrapper {
    position:absolute;   
    margin-left:642px;
    margin-top:500px;
}
div#sample_label {
    position:absolute;
    margin-left:360px;
    margin-top:380px;
    color:red;
}
div#sample_label>label{
    font-size:30px;
}

/*back*/
div#storecard_back_wrapper div.item{
    width:460px;
    display:inline-block;
    margin-left: 110px;
    margin-right: 60px;
    margin-top: 15px;
    background-color: #F2F2F2;
    padding:5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
div#storecard_back_wrapper div.content-wrapper{
    display: inline-block;
}
button.content-delete{
    float:right;
}
button.form-operation{
    float:right;
    margin-left:5px;
}
div.control-group{
    margin-left:-60px;
}

/*normal*/
input#push_button {
    float:right;
    /*margin-left:50px;*/
}
input#save_button{
    float:right;
    margin-right:3px;
}
div#operation_panel {
    display:block;
    margin-bottom:10px;
    width:821px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    background-color:#001954;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #B9B9B9;
    -moz-box-shadow: 3px 3px 4px #B9B9B9;
    -webkit-box-shadow: 3px 3px 4px #B9B9B9;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
